# Better Auth
BETTER_AUTH_SECRET=your-secret-key-min-32-chars-here
BETTER_AUTH_URL=http://localhost:3000



DATABASE_URL="postgresql://root@localhost:5432/defaultdb?sslmode=disable"


FASTAPI_URL=http://localhost:8000

HF_REPO_ID=victor-476-pami/nostalgic-persuasive-models
